<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img src="../assets/Icons/HospitalIcon.png" height="50"/>
  <h1>Welcome to PaInS</h1>
  <div class="spacer"></div>
</div>

<div class="content" role="main">
  <h2>Language</h2>
  <p>Choose your language</p>

  <div class="map-container">
    <button (click)="btnPrevClicked()"><i class="fas fa-arrow-left"></i></button>
    <img id="world-continent" [src]="currentMap" />
    <button (click)="btnNextClicked()"><i class="fas fa-arrow-right"></i></button>
  </div>

  <button class="consent">
    <img src="../assets/Icons/check.png">
  </button>

  <!-- Footer -->
  <footer>
    Patient Information System 2024&nbsp;
  </footer>
</div>
<router-outlet></router-outlet>
